body {
    font-family: 'Roboto';
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fa-pencil-alt {
    float: right;
}

#container {
    border: solid 2px gray;
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

h1 {
    background-color: #b7312c;
    color: #efbd47;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

li {
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666666;
}

li:nth-child(2n) {
    background-color: #f7f7f7;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #b7312c;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background-color: white;
    border: 3px solid #b7312c;
    outline: none;
}

span {
    height: 40px;
    margin-right: 20px;
    text-align: center;
    background-color: #b7312c;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

.fa-trash-alt {
    color: white;
}
